<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>

    <header>
        <!-- Navbar -->
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
    </header>

    <h2>BudgetHack</h2>
    <p>Expenses Track&Split System</p>
    <a href="{{ url_for('start') }}"><button>Start</button></a>

</body>
</html>
