<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Upload Files:</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".jpg, .jpeg, .png, .pdf" multiple required id="file-upload">
        <label for="file-upload" class="upload-button">Choose Files</label>
        <input type="submit" value="Upload">
    </form>

</body>
</html>
